.all-text-key-page_content {
  max-width: 920px;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
}

.add-button {
  background-color: #444f55;
  color: white;
  padding: 13px;
  margin-bottom: 70px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar-wrapper {
  flex: 1;
}

.search-filter-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
