.text-key-card-list {
    cursor: pointer; 
    margin-bottom: 15px;
    transition: box-shadow 0.2s ease; 
    border-bottom: 2px solid #ff9600;
    padding: 8px;
    width: 866px;

    --dsc-card-border-color: #444f55;
    --dsc-card-border-width: 0px;
    --dsc-card-block-border-width: 0px;  

    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
.text-key-card-list * {
    text-decoration: none;
    color: inherit;
}
.text-key-card-list h3 {
    font-weight: 400;
    font-size: 16px;
}
.text-key-card-list:hover {
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #ff9600;
}

.edit-button {
    border: none;
    background: transparent;
    color: #6b7280;
    font-size: 22px;
    cursor: pointer;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-key-card-edit-button:hover {
    opacity: 0.8;
}
  
@media (max-width: 900px) {
    .text-key-card-row {
      grid-template-columns: minmax(0, 1fr) 80px;
      gap: 16px;
    }
  
    .text-key-card-content {
      min-height: 42px;
      padding: 0 16px;
    }
  
    .text-key-card-title {
      font-size: 18px;
    }
}