/*CSS for valg av teksttype til lage ny tekstnøkkel*/
.text-type-selector {
    margin-top: 16px;
    text-align: left;
}
.text-type-selector_label {
    margin: 0 0 12px 0;
    font-weight: 400;
    font-size: 18px;
    color: #444F56;
    text-align: left;
}
.text-type-selector_button-group {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.text-type-selector_button {
    padding: 10px 14px;
    min-width: 110px;
    background-color: #f5f5f5;
    color: #444F56;
    border: 2px solid #5b6770;
    cursor: pointer;
    font-size: 14px;
}
.text-type-selector_button-selected {
    border: 2px solid #ff9100;
}