.back-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #868D90;
}

.back-arrow {
    color: #868D90;
    font-size: 20px;
    margin-bottom: 3px;
}

.back-text {
    border-bottom: 2px solid #868D90;
    line-height: 1.1;
    font-size: 15px;
}
/* Hover på strek under tekst */
.back-button:hover .back-text {
    border-bottom: 2px solid #444F56;
}