.search-bar {
  margin-top: 16px;
  margin-bottom: 24px;
  border: none;
  position: relative;
  width: 100%;
}
.search-input {
  flex: 1;
  border: none;
  border-bottom: 2px solid #868d90;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  padding: 0 0 10px 0;
  font-size: 16px;
  color: #868d90;
}
.search-input input {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  font-size: 28px;
  color: #868d90;
  padding: 0 40px 12px 0;
}
.search-input input::placeholder {
  color: #868d90;
  opacity: 1;
}
.search-button {
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  color: #7f868b;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 12px;
  position: absolute;
  right: 0;
}
.search-button:hover {
  background: transparent;
  border: none;
}
.search-button svg {
  width: 28px;
  height: 25px;
}
.search-clear  {
  border: none;
  background: transparent;
  box-shadow: none;
  padding: 0 8px 10px 8px;
}
